body {
    font-family: 'Raleway', sans-serif;
}
.bg-blue {
    background-color: blue;
}
.text-blue {
    color: #3b5998;
}
.skill {
    background-color: blue;
}
.underline {
    border-bottom: 2px solid #3b5998
}
.profile-photo {
    max-width: 224px;
}